/venv2/
.gitignore
.idea/.gitignore
.idea/ProductiveProcrastination.iml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
/migrations/
.idea/dataSources.xml
__pycache__/config.cpython-37.pyc
app/__pycache__/forms.cpython-37.pyc
app/__pycache__/models.cpython-37.pyc
migrations/
music.db
