/venv2/
/venv/lib/
/venv/bin/
.gitignore
.idea/.gitignore
.idea/ProductiveProcrastination.iml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
/migrations/
.idea/dataSources.xml
__pycache__/config.cpython-37.pyc
app/__pycache__/forms.cpython-37.pyc
app/__pycache__/models.cpython-37.pyc
migrations/
music.db
.sass-cache/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
