{% extends "bootstrap/base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{url_for('static', filename='script.js')}}"></script>
{% endblock %}

{% block title %}
    {% if title %}{{ title }} - Productive Procrastination {% else %} Productive Procrastination {% endif %}
{% endblock %}

{% block navbar %}

<nav class="nav">
    <div class="nav__title">Productive Procrastination</div>
    <ul class="nav__list">
        <li class="nav__item">About Us</li>
        <li class="nav__item" a href="{{ url_for('goToSciencePage') }}">Science Behind the Machine</li>
    </ul>
</nav>
<div style="height: 30px;"></div>

<footer>
    <button type="button" class="footerButton">Let Us Know What You Think!</button>
    <br>
    <p class="copyright">© Something Awesome</p>
</footer>
{% endblock %}

{% block content %}
{% block app_content %}{% endblock %}

{% endblock %}