{% extends "base.html" %}

{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h1 class="title">How Can We Help You?</h1>

<p class="descriptions">Please let us in on your thoughts about how we can make this site 
    better. Did something break? Is there an interest category you are 
    dying to have? What else can we add to make this better? We 
    thank you for whatever feedback you may have, but do note that 
    this site doesn't actually have an email attached that these are 
    being sent to, so you're basically shouting into the void. :D</p>

{% endblock %}