{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<h1> The Productive Procrastination Machine </h1>
<p> Are you looking for a way to get that bum into a more productive routine?  
    The productive procrastion machine can help you use your favorite habit, procrastinating, and turn it into a tool that resets your brain, preparing you for a productive work session. </p>

<h4> Choose Your Interests: </h4>

    <!-- <div class="container-fluid">
    <div class="row">
    <div class="col-12">
        <h1>Hello User!</h1>

    
    <h1>Sign In</h1>
        {{ wtf.quick_form(form) }}
    <p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>
    </div>
    </div>
       </div> -->
{% endblock %}