{% extends "base.html" %}

{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h1>This is the Science Page</h1>
<h1 class="title">But How Does It Work?</h1>

<br><p class="descriptions leftBox"><i><strong>Procrastinate, v.</strong></i>
    <br>To postpone till another day; to put off; to defer,delay</p>

<h4 class="rightTopSection title">Why am I Procrastinating? </h4>
<p class="descriptions rightTopSection">

    <br><br> Procrastination is heavily influenced by negative moods. Our mind uses procrastination as a short term fix to the situation by distracting 
    ourselves from the thing that’s bothering us. Whether that is a task, situation, or other stressful situation.</p>

    <br><br><br><br><br><br><br><br><br><br>

<p class="descriptions rightBox">The Statistics… You aren’t alone.
    <img src="{{url_for('static', filename='stats.png')}}"/>
</p>

<h4 class="leftTopSection title">Symptoms of procrastination</h4>
<p class="descriptions leftTopSection">

    <br><br> Procrastinating can have a negative effect on our mental health with symptoms 
    ranging from the emotional to physical.
    <img src="{{url_for('static', filename='symptoms.png')}}"/>

</p>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<h2 class="title">The Science Behind Breaks</h2>
<h4 class="title">Breaks can improve focus</h4>
<p class="descriptions"><br>Another 2011 study overturned a decades-old idea about the nature of attention. With 84 participants divided into four groups, each completed the same repetitive, computerized task for 50 minutes. While it was found that there is nothing more computerized and repetitive than the average college student's daily schedule, the study presented some interesting findings about the value of a break. Out of the four groups, only those who had breaks in between their tasks had a consistent performance over time.  </p>
<h4 class="title">Breaks can prevent “decision fatigue"</h4>
<p class="descriptions"><br>If you are one of the millions of Americans that struggles to haul themselves out of bed in the morning, or to get motivated to start the day, you may be surprised to learn about the functions of the prefrontal cortex. 
    This part of the brain fights those impulses and bad habits, and works hard throughout the day to focus our goals, help us think logically, and institute willpower to override impulse. However, you may be surprised to hear that life isn’t all about working, 
    in fact, many studies have shown a positive effect when we allow our brain to rest in between work. </p>
<h4 class="title">Breaks allow for creative thinking</h4>
<p class="descriptions"><br>When we daydream, our brains become highly active in areas that are associated with complex problem-solving. Specifically, the lateral prefrontal cortex and the dorsal anterior cingulate cortex. We all let our mind wander, whether it be thinking about the next Tiger King episode and where the bleep Carole Baskin is at, or about your professor not wearing pants on a Zoom call. Interestingly enough, letting your mind wander on something imaginative might let you solve that big problem you’ve been working on all day, so let those Tiger King thoughts flow!
</p> 
{% endblock %}