{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h1 class="title">Let's get setup!</h1>
<h2 class="title">How do I get started?</h2>
<p class="descriptions">Work means something different for everyone! Time to write an essay, organize the pantry, clean the bleeping house... setup repeated periods of work with periods of rest in between to help you recharge, and put your best foot forward.</p>

 <form action="/goToWorkPage" name="go-account">
     <label for="total_time">How much time do I have to work?</label><br>
     <input type="text" id="total_time" name="total_time" value="8"><br>
     <label for="often">How often do I want a break?</label><br>
     <input type="text" id="often" name="often" value="50"><br>
     <input type="submit" value="Let's Start This Thing Already" class="btn btn-info p-5 m-2">
 </form>

{% endblock %}
