{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h1 class="title">Your work session is in progress!</h1>

<h2 class="descriptions">Time left in session:</h2>
<div class="title">
<h1 id="demo"></h1>

 <form action="/goToSetupPage" name="go-setup">
     <input type="submit" value="Edit Session" class="btn btn-info p-5 m-2">
 </form>


 <form action="/goToBreakPage" name="go-break">
     <input type="submit" value="Skip to Break" class="btn btn-info p-5 m-2">
 </form>
</div>
<script>
var seconds = 0;
var minutes = {{values[1]}};
var interval = setInterval(setTime, 1000);
var hours = {{values[0]}};
var minPlaceholder = "";
var secPlaceholder = "";

  function setTime(){
    if (minutes != 0 || seconds != 0 || hours != 0) {
      if (seconds == 0) {
        seconds = 60;
        if (minutes == 0){
            minutes = 59;
            if (hours != 0){
                hours--;
            }
        }
        else{
            minutes--;
        }
      }
      else{
          seconds--;
      }
    }
    else if ({{values[2]}} == 1 ){
        $.post( "/goToBreakPage", {
                  canvas_data: JSON.stringify("hello")
    }, function(err, req, resp){
      window.location.href = "/goToBreakPage";
        });
        clearInterval(interval);
    }
     else {
        $.post( "/goToSetupPage", {
                  canvas_data: JSON.stringify("hello")
    }, function(err, req, resp){
      window.location.href = "/goToSetupPage";
      });
        clearInterval(interval);
    }


    if (minutes <10){
        minPlaceholder = "0";
    }
    else{
        minPlaceholder = "";
    }

    if (seconds <10){
        secPlaceholder = "0";
    }
    else{
        secPlaceholder = "";
    }

    document.getElementById("demo").innerHTML = hours + ":" + minPlaceholder + minutes+":" + secPlaceholder + seconds;

  }


</script>

{% endblock %}
