{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h1>This is the Work Page</h1>

 <form action="/goToAccountPage" name="go-account">
     <input type="submit" value="Exit" class="btn btn-info p-5 m-2">
 </form>

 <form action="/goToSetupPage" name="go-setup">
     <input type="submit" value="Edit" class="btn btn-info p-5 m-2">
 </form>


 <form action="/goToBreakPage" name="go-break">
     <input type="submit" value="Skip to Break" class="btn btn-info p-5 m-2">
 </form>

{% endblock %}
